body {
  background-color: #282c34;
  color: rgb(157, 180, 165);
}
input[type="text"] {
  background: #282c34;
  border: none;
}
input[type="text"]:focus {
  background: #282c34;
  border: none;
}
.card {
  background: #282c34;
}
.avatar {
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.App {
  text-align: center;
}
